<h1>
    Espacios
</h1>
<hr>

<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">
    <div class="form-group">
        <label> Nombre: </label><br>
        <input type="text" class="form-control" placeholder="" formControlName="nombre" [class.is-invalid]="nombreNoValido">
        <small class="text-danger" *ngIf="nombreNoValido" >
            El nombre debe ser por lo menos de 3 caracteres, comenzar con mayúscula y no contener caracteres especiales.
        </small>
    </div>
    <div class="form-group">
        <label> Latitud: </label><br>
        <input type="text" class="form-control" placeholder="" formControlName="latitud" [class.is-invalid]="latitudNoValida">
        <small class="text-danger" *ngIf="latitudNoValida">
            Latitud incorrecta. Formato de latitud: -89.00000 ú 89.00000
        </small>
    </div>
    <div class="form-group">
        <label> Longitud: </label><br>
        <input type="text" class="form-control" placeholder="" formControlName="longitud" [class.is-invalid]="longitudNoValida">
        <small class="text-danger" *ngIf="longitudNoValida">
            Longitud incorrecta. Formato de longitud: -179.00000 ó 179.00000
        </small>
    </div>
    <div class="form-group">
        <label> Espacio: </label><br>
        <select class="form-control" formControlName="espacio" [class.is-invalid]="espacioNoValido">
            <option value="">Seleccione un tipo de espacio...</option>
            <option *ngFor="let space of tipo_espacio" [ngValue]="space.id" [disabled]="tipo_espacio.length === 1">{{space.name}}</option>
        </select>
        <small class="text-danger" *ngIf="espacioNoValido">
            Seleccione un espacio de la lista.
        </small>
    </div>

    <div class="form-group">
        <label> Población: </label><br>
        <input type="tel" class="form-control" placeholder="" formControlName="poblacion" [class.is-invalid]="poblacionNoValida">
    </div>
    <small class="text-danger" *ngIf="poblacionNoValida">
        La población debe ser mayor a 1000 habitantes.
    </small>     

    <div class="form-group">
        <label>&nbsp;</label>
        <div class="input-group">
            <button class="btn btn-primary" type="submit">Guardar cambios</button>
        </div>
    </div>
</form>

<pre>
    Estado del formulario: {{ forma.valid }}
    <br>
    Status: {{ forma.status }}
</pre>

<hr>

<pre>
    {{ forma.value | json }}
</pre>